#include <@OPCODE@.h>
#include <token.h>

#include <iostream>
#include <vector>

std::vector<uint8_t> compile_@OPCODE@(std::vector<token>&)
{
    std::cout << "compile: @OPCODE@" << std::endl;
    return std::vector<uint8_t>();
}

